@import url(var.css);

.project-content {
    display: inline-block;
}

.project-content img {
    width: 100%;
    height: auto;
}

.project-content h2 {
    padding-bottom: var(--pad);
}

.project-title {
    position: absolute;
}

.project-container {
    width: 70vw;
}

@media (min-width: 1200px) {
    .project-container {
        width: 840px;
    }
}