/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}

ol,ul,li {
    list-style: none;
    padding-left: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* RESET */

/* BODY */

/* arrows */
.top-right-arrow::after {
    content: "\2197 \FE0E";
}

.top-arrow::after {
    content: "\2191 \FE0E";
}

/* body */
body {
    font-family: "Input Sans", monospace;
    color: var(--c-txt);

    background: 
    radial-gradient(circle, var(--c-grid) 0%, transparent 10%);
    background-size: var(--grid) var(--grid); 
    background-position: top center;

    background-color: var(--c-bg);
}

/* var */
:root {    
    /* transitions */
    --def-duraton: 0.5s;

    /* bg */
    --c-bg: hsl(0, 0%, 100%);
    --c-grid: rgb(0, 0, 0);
    --c-txt: rgb(0, 0, 0);

    /* container */
    --grid: 2vw;
    --border: 1px;
    --pad: 10px;

    --container-w: calc(var(--grid)*38);
    --container-w-center: calc( 50% - (var(--container-w)/2) );
}

/* fonts */
h1 {
    font-size: 14px;
    font-style: italic;
}

h2 {
    font-size: 12px;
}

b1 {
    font-size: 10px;
}

/* media query 1 */
@media (min-width: 500px) {

    /* fonts */
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 14px;
    }

    b1 {
        font-size: 12px;
    }

}

/* media query 2 */
@media (min-width: 800px) {

    /* var */
    :root {    
        /* container */
        --grid: 16px;
    }
}


li {
    padding: 5px 0px;
}

/* BODY */

/* ANIMATIONS */

/* rotate */
._rotate {
    display: inline-block;
    transition-duration: var(--def-duraton);
	transition-property: transform;
	
	&:hover {	
		transform: rotate(5deg);
        /* text-decoration: underline; */
	}
}

/* spread */
._spread {
    transition-duration: var(--def-duraton);
    transition-property: letter-spacing;

    &:hover {
        letter-spacing: 3px;
    }
}

/* move */
._move {
    transition-duration: .2s;
	transition-property: transform;
	
	&:hover {	
		transform: translate(5px, -5px);
	}
}

/* ANIMATIONS */

/* CONTAINER */

#Body {
    position: relative;
}

.container {
    position: absolute;
    width: var(--container-w);
    margin: 0;

    box-sizing: border-box;
}

.box_shadow {
    box-shadow: -5px 5px #586e75ee;
    background-color: rgb(167, 255, 196);
}

.container-content {
    background-color: white;
    border: var(--border) solid var(--c-txt);

    padding: var(--pad);
}

/* CONTAINER */

/* HEADER */

.header-container {
    left: var(--container-w-center);
    
    top: calc( var(--grid)/2 + var(--grid)*2 );
}

.header-content li {
    display: inline-block;
    margin-right: 10px;
}

/* HEADER */

/* LANG */

.lang-content {
    display: flex;
    justify-content: center;
}

.lang-pt {
    display: none;
}

.lang-en {
    display: block;
}

/* LANG */

/* CONTAINERS */

/* lang */
.lang-container {
    width: calc(var(--grid)*6);

    left: calc( var(--container-w-center) + (var(--grid)*12) );
    
    top: calc( var(--grid)/2 + var(--grid)*13 );
}